src/main/java/org/springframework/social/weibo/config/xml/spring-social-weibo-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:weibo="http://www.springframework.org/schema/social/weibo"
	targetNamespace="http://www.springframework.org/schema/social/weibo">

	<xs:element name="config">
		<xs:complexType>
			<xs:attribute name="app-id" use="required" type="xs:string" />
			<xs:attribute name="app-secret" use="required" type="xs:string" />
			<xs:attribute name="app-namespace" use="optional" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>